<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    package="org.ssutown.manna">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera2" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:name=".KakaoLogin.GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">

        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>

        <intent-filter>
            <action android:name="android.intent.action.VIEW"/>
            <category android:name="android.intent.category.DEFAULT"/>
            <category android:name="android.intent.category.BROWSABLE"/>
            <data android:scheme="@string/kakao_scheme"
                android:host="@string/kakaolink_host"></data>
            <meta-data
                android:name="com.kakao.sdk.AppKey"
                android:value="@string/kakao_app_key"/>
        </intent-filter>

        </activity>
        <activity android:name=".MeetingActivity">

            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.VIEW"/>-->
                <!--<category android:name="android.intent.category.DEFAULT"/>-->
                <!--<category android:name="android.intent.category.BROWSABLE"/>-->
                <!--<data android:scheme="@string/kakao_scheme"-->
                    <!--android:host="@string/kakaolink_host"></data>-->
                <!--<meta-data-->
                    <!--android:name="com.kakao.sdk.AppKey"-->
                    <!--android:value="@string/kakao_app_key"/>-->
            <!--</intent-filter>-->
        </activity>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key"/>


        <activity android:name=".LoginActivity">
        </activity>

        <activity android:name=".SelectCalendar" />
        <activity android:name=".meeting.add_Meeting" />
        <activity android:name=".GoogleCalendar.GoogleCalendarActivity" />
        <activity android:name=".AddAppointActivity" />
        <activity android:name=".GoogleCalendar.saveGoogleCalendarActivity" />
        <activity android:name=".profileSetting.setProfile"/>
        <activity android:name=".AdjstmentMeeting.ApplyMeetingFilter"/>

        <activity android:name=".AdjstmentMeeting.BasicActivity"></activity>

        <com.alamkanak.weekview.WeekView
            android:id="@+id/weekView"
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            app:eventTextColor="@android:color/white"
            app:textSize="12sp"
            app:hourHeight="60dp"
            app:headerColumnPadding="8dp"
            app:headerColumnTextColor="#8f000000"
            app:headerRowPadding="12dp"
            app:columnGap="8dp"
            app:noOfVisibleDays="3"
            app:headerRowBackgroundColor="#ffefefef"
            app:dayBackgroundColor="#05000000"
            app:todayBackgroundColor="#1848adff"
            app:headerColumnBackground="#ffffffff"/>

    </application>

</manifest>